{% extends "layout.njk" %}

{% block title%}
    <title>Sobre nós - Challenge 3</title>
{%endblock%}

{% block content %}

        <main>
            <img class="logo-home" src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0_400x400.jpg" alt="Logo RocketSeat">
            <h1>Rocketseat</h1>
            <h2>A menor distância entre você e seus objetivos</h2>
            <p>Faça parte da melhor escola de programação do país, aprenda colocando a mão na massa com a supervisão de profissionais de mercado para te dar todo o suporte necessário nessa jornada. Aprenda tecnologias como:</p>
            <ul>
                <li> HTML | </li>
                <li> CSS | </li>
                <li> Git |</li>
                <li>JavaScript |</li>
                <li>Node.js |</li>
                <li>React |</li>
                <li>ReactNative </li>
            </ul>
        </main>
    
  {% endblock %}