{% extends "layout.njk" %}

{% block title%}
    <title>404 Página não encontrada</title>
{%endblock%}

{% block content %}

        <main class="main-erro">
            <img class="erro-icon" src="/404-icon.png" alt="ícone de erro">
            <h1>Ixi!!! Esse é um erro 404</h1></br>
            <h2>É... isso pode ser desconcertante, mas esse conteúdo não existe. =/</h2>
        </main>
    
  {% endblock %}