@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap";

:root {
    --color-roxo-fundo: #6C4FBB;
}

*, html{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: var(--color-roxo-fundo);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    border-bottom: 1px solid #fcfcfc;
    background-color: var(--color-roxo-fundo);
    display: flex;
    justify-content: space-between;
}

header div{
    /* text-align: center;  */
    display: flex;
    flex-direction: row; 
    align-items: center;
}

div.menu {
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    justify-content: flex-end;
}

div.menu a{
    text-decoration: none;
    color: white;
    padding: 0 30px;
}

.logo img{
    height: 70px;
    justify-content: flex-start;
    margin-left: 70px;
}

/* div .menu{
    display: flex;
    flex-direction: row;
     
}*/

header div.menu a:hover{
    font-weight: 500;
    transition: font-weight 500ms;
}

main{
    text-align: center;
}

main img{
    margin: 30px;
    height: 300px;
    width: auto;
    border-radius: 50%;
    border: 3px solid white;
}

main h1, h2{
    margin: 15px;
}

main h2{
    font-weight: 300;
}

main p{
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    line-height: 25px;
}

main ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 40px;
}

main ul li{
    /* margin: 0 10px; */
    text-decoration: none;
    list-style: none;
    padding: 3px
}

footer div{
    height: 100px;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 200px; */
    padding: 0 500px


}

footer div h3{
    font-weight: 200; 
}

footer div h3 a{
    text-decoration: none;
    color: white;
}


footer div h3:hover {
    font-weight: 500; 

}