@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap";

:root {
    --color-roxo-fundo: #0a0616;
}

*, html{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: var(--color-roxo-fundo);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    border-bottom: 1px solid rgba(211, 211, 211,0.4);
    background-color: var(--color-roxo-fundo);
    display: flex;
    justify-content: space-between;
}

header div{
    /* text-align: center;  */
    display: flex;
    flex-direction: row; 
    align-items: center;
}

div.menu {
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    justify-content: flex-end;
}

div.menu a{
    text-decoration: none;
    color: white;
    padding: 0 30px;
}

.logo img{
    height: 35px;
    justify-content: flex-start;
    margin-left: 70px;
}

/* div .menu{
    display: flex;
    flex-direction: row;
     
}*/

header div.menu a:hover{
    font-weight: 500;
    transition: font-weight 500ms;
}

main{
    text-align: center;
    border-bottom:  1px solid rgba(211, 211, 211,0.4);
}


.logo-home{
    margin: 30px 0 10px 0;
    height: 300px;
    width: auto;
    border-radius: 50%;
    border: 3px solid white;
}

main h1, h2{
    margin: 15px;
}

main h2{
    font-weight: 300;
}

main p{
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    line-height: 25px;
}

main ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 40px;
}

main ul li{
    /* margin: 0 10px; */
    text-decoration: none;
    list-style: none;
    padding: 3px
}



footer div{
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 500px;
    /* padding: 0 500px */

}

footer div h3{
    font-weight: 200; 
}

footer div h3 a{
    text-decoration: none;
    color: white;
}


footer div h3:hover {
    font-weight: 500; 

}

.main-courses{
    height: 90vh;
}

.main-erro{
    margin: auto;
    height: 90vh;
}

.erro-icon{
    margin: 50px;
}

/* CARDS */

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90%;
    align-items: center;
    gap: 20px;
    margin: 0 40px;
}

section .card{
    /* border: 2px solid rgb(24, 25, 53); */
    border-radius: 20px;
    height: 90%;
    background-color: rgb(0, 0, 0);
}

.card img{
    margin-top: 30px;
    height: 40%;
}

.card p.title{
    margin-top: 80px;
    font-size: 18px;
    /* font-weight: 200; */

}

/* .title#starter{
    color: rgb(113, 89, 193);
    font-size: 50px;
} */

.card p.text{
    /* font-weight: 200; */
    font-size: 18px;    
}

.card h4{
    font-weight: 200;
    font-size: 15px;
}

section .card:hover{
    height: 95%;
    top:2px;
    transition: 300ms;
}

/* section .title#starter:hover{
    color: rgb(113, 89, 193);
    font-size: 50px;
} */

section .card#starter:hover{
    border: 3px solid rgb(113, 89, 193);
    cursor: pointer;
}

section .card#launchbase:hover{
    border: 3px solid rgb(253, 149, 31);
    cursor: pointer;
}

section .card#gostack:hover{
    border: 3px solid rgb(4,211,97);
    cursor: pointer;
}


/* MODAL */


.modal-geral{
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 5px;
    opacity: 0;
    visibility: hidden;

}

.modal{
    background-color: rgba(255,255,255,1);
    height: 95%;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;   
    position: relative;
    align-self: center;
    
}


.modal .close-modal{
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index:2;
    background-color: white;
    border-radius: 5px;
    text-align: center;

}

/* .modal .close-modal .material-icons { 
    font-size: 24px; 
} */

.modal .content{
    height: 90%;
    width: 100%;
    position: relative;
    z-index:0;
}


iframe{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    top: 5%;
    /* position: absolute; */
}

/* MODAL ACTIVE */

.modal-geral.active{
    opacity: 1;
    visibility: visible;
}


/* PAGINA SOLO */

.main-solo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

.cards-solo{
    /* border: 2px solid rgb(24, 25, 53); */
    border-radius: 20px;
    height: 90%;
    width: 70%;
    background-color: rgb(0, 0, 0);
    margin: 100px auto;
}


.text-solo a {
    text-decoration: none;
    padding: 5px;
    color: white;

}