{% extends "layout.njk" %}

{% block content %}

<div class="detalhe-container">
    
    <div class="image-container">
        <img src="{{items.image}}" alt="imagem de um {{items.title}}">
    </div>
    <div class="text-container">
        <h3>{{items.title}}</h3>
        <p>{{items.author}}</p>
    </div>
    
    <div class="ingredients-container">
        <div class="title-ingredients">
            <h3 class="h3-ingredients">Ingredientes</h3>
            <p>esconder/mostrar</p>
        </div>
        
        <div class="list-ingredients">
            
            {%for ingredient in items.ingredients%}
            <ul>
                <li>{{ingredient}}</li> 
            </ul>
            {% endfor %}
        </div>  
    </div>
    
    <div class="preparation-container">
        <div class="title-preparation">
            <h3 class="h3-preparation">Modo de Preparo</h3>
            <p>esconder/mostrar</p>
        </div>
        <div class="list-preparation">
            {% for step in items.preparation %}
            <ul>
                <li>{{step}}</li>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class="aditional-info-container">
        <div class="title-aditional-info">
            <h3 class="h3-aditional-info">Informações Adicionais</h3>      
        </div>
        <p class="text-aditional-info">{{items.information}}</p>
    </div>
    
    
</div>

{% endblock %}