<!DOCTYPE html>

<meta charset="utf-8">

<html>
    <head>
        

        {% block head %}
            <title> Caio Ledesma </title>
        {%endblock%}

        <link rel="stylesheet" href="/style.css">
    </head>

        <body>
            <header>
                <div class="links">
                    <a href="/">Sobre</a>
                    <a href="/portfolio">Aulas</a> <!--agora vamos colocar a barra pq tá configurado no servidor e pra manter o padrão-->
                </div>
            </header>
              
            {% block content %}{% endblock %}

        </body>
</html>
