<!DOCTYPE html>

<meta charset="utf-8">

<html>
    <head>
        

        {% block head %}
            <title> Challenge 4 </title>
        {%endblock%}

        <link rel="stylesheet" href="/style.css">
    </head>

        <body>
            <header>
                <div class="links">
                    <a href="/">Teachers</a>
                    <a href="/">Student</a> 
                </div>
            </header>
              
            {% block content %}{% endblock %}

        </body>
</html>
