@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    background-color: white;
    height: 150vh;
    width: 1420px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* margin: 0 auto; */
    justify-content: center;
}

.logo img{
    padding: 30px;
    margin: 0;
    height: 26.9px;
}

.menu{
    margin-left: 77px;
    
}

.menu a{
    padding: 0 15px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.cabecalho {
    background-color:#FBDFDB;
    display: flex;
    flex-direction: row;
    height: 366px;
    width: 940px;
    border-radius: 30px;
    margin: 0 auto;

}

texto.cabecalho{
    position: relative;
}
.texto-cabecalho h1{
    margin: 117px 575px 211px 60px;
    width: 305px;
    height: 38px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    color: #111111;
}

.texto-cabecalho p{
    margin: 165px 564px 117px 60px;
    width: 316px;
    height: 84px;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
   
}

.img-cabecalho{
    /* display: flex:; */
    margin: 66px 100px 0 624px;
    position: absolute;
}

/* MAIS ACESSADAS  */

h2{
    margin-top: 50px;
    margin-bottom:20px;
    margin-left: auto;
}


/* CARDS */
.cards{
    max-width: 940px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    /* border: 1px solid black;    */
    border-radius: 15px; 
}

.img-card img{ 
    width: 100%;
    border-radius: 15px; 

}

.info-card{
    padding: 10px;
}