@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap";

:root{
    /* criando variaveis no css */
    --color-green: #50fa7b;
    --color-variavel: #333;
    --font-weight-variavel: 24px;
    --color-rocket: #7159C1;
}

*{
margin: 0;
padding: 0;
border: 0;
}


body {
    background: var(--color-variavel);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0, 0.200)
}

.links {
    text-align: center; 
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 500ms;
}        

#wrapper{
    /* margin: 30px 0; */
    text-align: center;
    
}

#wrapper img{
    border-radius: 50%;
    border: 5px solid #bbbcc0;
    max-height:300px;
    height: auto;
    margin: 30px;
    
}

#wrapper h1{
    /* margin: 10px; */
    line-height: 60px;
}

#wrapper h2, p{
    line-height: 30px;
    font-weight: 300;

}

#wrapper a{
    color: white;
    text-decoration: none;
}

#wrapper a:hover{
    font-weight: 500;
    transition: 500ms;
}

#links-footer a {
    line-height: 60px;
    border-bottom: 1px solid var(--color-green);
    padding: 3px;

}


/* CARDS */

.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    background-color: var(--color-rocket);
    border-radius: 10px;
    display: grid;
    cursor: pointer;

}

.card_image-container img{
    width: 100%; /*Quando colocamos % no elemento filho, ele respeita o tamanho em % do pai, sempre */
    border-radius: 10px 10px 0  0;

}

.card_content, 
.card_info{
    padding: 20px;
}


.card_info{
    display: grid; /*abaixo está a descriçã das colunas */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 10px;
}

.card_price{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* MODAL */

.modal-overlay{
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 6vh auto;
    position: relative; /* Quando eu coloco o position relative aqui, o filho abaixo, .modal .close-modal, ele respeita esse posicionamento quando colocamos position: absolute, então ele é absoluto dentro do máximo do elemento pai, quando tem o position: relative*/
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 2px;
    cursor: pointer;
     
}

/* MODAL ACTIVE */

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
} 



iframe{
    width: 100%;
    height: 90%;
    top: 5%;
    position: absolute;

}

/* ==== FEATURED ==== */
.featured-wrapper.card_image-container {
    position: relative;
}

.featured{
    background: #f15395;
    color: white;
    padding: 3px 8px;
    position: absolute;
    left: -1px;
    border-radius: 16px;
    top: -10px;
}

/* VIDEO PAGE */

.video{
    margin: 10px auto;
    max-width: 800px;
}

.card_video-container{
    position: relative;
    padding-top: 62.5%;
}

.card_video-container iframe{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    border-radius: 10px 10px 0 0 ;
}
